* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {

    margin: 0;
    background: #f1f5f9;
    color: #1e293b;

}



/* CONTAINER PRINCIPAL */

.container-dashboard {

    padding: 40px;

}



/* TITULO */

h1 {

    color: #0f172a;

}


h2 {

    color: #0f172a;

}



/* CARDS DE RESUMO */

.card-dashboard {

    background: white;

    padding: 25px;

    border-radius: 15px;

    height: 150px;

    display: flex;

    flex-direction: column;

    justify-content: center;

    box-shadow:
    0 4px 15px rgba(0,0,0,0.08);

    transition: .2s;

}



.card-dashboard:hover {

    transform: translateY(-5px);

}



.card-dashboard h3 {

    font-size: 18px;

    color: #64748b;

    margin-bottom: 15px;

}



.card-dashboard span {

    font-size: 38px;

    font-weight: bold;

    color: #2563eb;

}



/* CARDS DOS BOARDS */

.board {

    background: white;

    padding: 25px;

    border-radius: 15px;

    height: 200px;

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    box-shadow:
    0 4px 15px rgba(0,0,0,0.08);

    transition: .2s;

}



.board:hover {

    transform: translateY(-5px);

}



/* TITULO DO SETOR */

.board h3 {

    margin: 0;

    font-size: 22px;

    color:#0f172a;

}



/* DESCRIÇÃO */

.board p {

    margin-top: 10px;

}



/* BOTÃO */

.btn-primary {

    background:#2563eb;

    border:none;

    border-radius:8px;

    padding:10px 20px;

}



.btn-primary:hover {

    background:#1d4ed8;

}



/* RESPONSIVIDADE */

@media(max-width:768px){


    .container-dashboard{

        padding:20px;

    }


}